body {
    width: 70%;
    margin: 0 auto; 
    background-image: url("image.png"); 
    background-repeat: no-repeat;       
    background-size: cover;             
    background-attachment: fixed;       
    background-position: center;        
}

header {
    text-align: center;
    border-top: 10px solid #668CD8;
    border-bottom: 10px solid #668CD8;
    background-color: #E8EFF7;
    padding: 20px; 
}

#adresse {
    text-align: left;
    font-family: monospace;
    margin-top: 15px;
}

header img {
    float: right;
    width: 15%;
}

article {
    border-top: 10px solid #668CD8;
    border-bottom: 10px solid #668CD8;
    margin-top: 30pt;
    background-color: #E8EFF7;
    padding: 15px; 
}

article h1 {
    color: #385CA8;
    font-variant: small-caps;
    padding: 10px;
    margin: 0;
}

.annee {
    font-weight: bold;
    width: 100px;
    display: block;
    float: left;
    background-color: #E8EFF7;
}

dt {
    font-weight: bold;
    margin-top: 10px;
}

footer {
    font-size: xx-small;
    font-variant: small-caps;
    text-align: center;
    border-top: 10px solid #688CD8;
    border-bottom: 1px solid #688CD8;
    margin-top: 4em;
    background-color: #E8EFF7; 
    padding: 5px;
}
